@using Salvation.Core.ViewModel
@inject IJSRuntime JS

@if(Talents.Count == 0)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <div>
        <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-4 Error">@TotalPointsSpent / @PointsTotal</MudText>
    </div>
    <div class="talent-container">
        <div class="talent-grid mud-theme-dark">
            @foreach (var talent in Talents)
            {
                <a href="#" data-wowhead="spell=@(talent.TalentEntries[0].SpellId)" data-wh-rename-link="false"
                    class="talent talent-col-@(talent.TreeColumn) talent-row-@(talent.TreeRow)"
                    @onclick="e => OnTalentClick(e, talent)"
                    @oncontextmenu="e => OnTalentClick(e, talent)"
                    @oncontextmenu:preventDefault="true" data-ready="@(talent.PointsSpent == talent.MaxRanks || talent.IsFreeNode ? 0 : 1)">
                    <div class="talent-contents">
                        <div class="talent-image-holder">
                            <div class="talent-image" style="@GetImageStyle(talent.TalentEntries[0].Icon)">
                            </div>
                        </div>
                    </div>
                </a>
                @if (!talent.IsFreeNode)
                {
                    <div class="talent-points-spent talent-col-@(talent.TreeColumn) talent-row-@(talent.TreeRow)">
                        @talent.PointsSpent/@talent.MaxRanks
                    </div>
                }
            }
        </div>
    </div>
    <div>
        <p>Selected talents</p>
        <ul>
            @foreach(var talent in Talents.Where(t => t.PointsSpent > 0))
            {
                <li><a href="https://www.wowhead.com/beta/spell=@talent.TalentEntries[0].SpellId" data-wh-icon-size="tiny">@talent.Name</a> (@talent.PointsSpent / @talent.TalentEntries[0].MaxRanks)</li>
            }
        </ul>
    </div>
}

@code {
    private static string NodeTypeSingle = "single";
    private static string NodeTypeTiered = "tiered"; // No idea what this is.
    private static string NodeTypeChoice = "choice"; // Implement something for choice node later
    private static string UnknownIconName = "inv_misc_questionmark.jpg";
    private int TotalPointsSpent = 0;

    [Parameter]
    public int PointsTotal { get; set; } = 0;

    [Parameter]
    public List<Talent> Talents { get; set; } = new List<Talent>();

    public string GetImageStyle(string talentIcon)
    {
        return $"background-image: url('static-data/icons/{talentIcon}.jpg'), url('static-data/icons/{UnknownIconName}');";
    }

    protected override void OnInitialized()
    {
        InitialiseTalents();   
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("updateWowheadTooltips");
        Console.WriteLine("updating tooltips");
    }

    private void InitialiseTalents()
    {
        foreach (var talent in Talents)
        {
            if (talent.IsFreeNode)
                talent.PointsSpent = 1;
        }
    }

    public void OnTalentClick(MouseEventArgs eventArgs, Talent talent)
    {
        switch(eventArgs.Button)
        {
            case 0:
                TalentLeftClick(eventArgs, talent);
                break;
            case 2:
                TalentRightClick(eventArgs, talent);
                break;
            default:
                break;
        }
    }

    private void TalentLeftClick(MouseEventArgs eventArgs, Talent talent)
    {
        Console.WriteLine("Left clicked {0}", talent.Name);

        if (talent.Type == NodeTypeSingle || talent.Type == NodeTypeTiered)
        {
            // If there are points to spend, spend them
            if (talent.PointsSpent < talent.MaxRanks)
            {
                talent.PointsSpent++;
                TotalPointsSpent++;
            }
        }
        else if (talent.Type == NodeTypeChoice)
        {

        }

        Console.WriteLine("{0} is at {1}/{2}", talent.Name, talent.PointsSpent, talent.TalentEntries[0].MaxRanks);
    }

    private void TalentRightClick(MouseEventArgs eventArgs, Talent talent)
    {
        Console.WriteLine("Right clicked {0}", talent.Name);

        if (talent.Type == NodeTypeSingle || talent.Type == NodeTypeTiered)
        {
            // If there are points spent, remove one
            if (talent.PointsSpent > 0)
            {
                talent.PointsSpent--;
                TotalPointsSpent--;
            }
        }
        else if (talent.Type == NodeTypeChoice)
        {

        }

        Console.WriteLine("{0} is at {1}/{2}", talent.Name, talent.PointsSpent, talent.TalentEntries[0].MaxRanks);
    }
}
